<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル</title>
  </head>

  <body>

    <!-- フィルタを適用(グローバルスコープに登録) -->
    <div id="app11">
      {{price|number_format}}
    </div>
    <!-- フィルタを適用(グローバルスコープに登録) -->
    
    <!-- フィルタを適用(ローカルスコープに登録) -->
    <div id="app12">
      {{price|number_format}}
    </div>
    <!-- フィルタを適用(ローカルスコープに登録) -->

     <!-- 複数のフィルタを繋げる(フィルタを組み合わせて使用) -->
    <div id="app13">
      {{price|unit}} {{price|number_format|unit}}
    </div>
     <!-- 複数のフィルタを繋げる(フィルタを組み合わせて使用) -->

     <!-- 今年がうるう年かを判定するプロパティ -->
     <div id="app14">
      調べたい年: <input type="text" v-model="year"> <br>
      {{year}}年は{{isUrudoshi ? 'うるう年です' : 'うるう年ではありません'}}
     </div>
     <!-- 今年がうるう年かを判定するプロパティ -->

     <!-- リアクティブデータと依存関係のない算出プロパティ(算出プロパティがキャッシュされる様子の確認) -->
     <div id="app15">
      <div v-show="show">
        <p>now1: "{{now1()}}"</p>
        <p>now2: "{{now2}}"</p>
      </div>
     </div>
     <!-- リアクティブデータと依存関係のない算出プロパティ(算出プロパティがキャッシュされる様子の確認) -->

     <!-- イベントハンドリング(クリックイベントの使用例) -->
     <div id="app16">
        <template v-if="stock >= 1">
          <span class="num">残り{{stock}}個</span>
          <button class="btn" v-on:click="onDeleteItem">削除</button>
            
        </template>
        <template v-else>在庫切れ</template>
     </div>
     <!-- イベントハンドリング(クリックイベントの使用例) -->

     <!-- Vue未使用バージョン イベントハンドリング(クリックイベントの使用例) -->
     <div id="app17">
       <span class="num"></span>
       <button class="btn">削除</button>
     </div>
     <!-- Vue未使用バージョン イベントハンドリング(クリックイベントの使用例) -->

     <!-- resizeイベントのハンドリング -->
     <div id="app18">
       ウィンドウの横幅:{{width}} <br>
       ウィンドウの高さ:{{height}}
     </div>
     <!-- resizeイベントのハンドリング -->


    <script src="https://jp.vuejs.org/js/vue.js"></script>
    <script>

    // フィルターをグローバルスコープに登録する。(フィルタを適用する)
    Vue.filter('number_format', function(val){
      return val.toLocaleString();
    });
    var app11 = new Vue ({
      el: '#app11',
      data: {
        price: 1000
      }
    });
    // フィルターをグローバルスコープに登録する。(フィルタを適用する)
   
    // フィルターをローカルスコープに登録する。(フィルタを適用する)
    var app12 = new Vue ({
      el: '#app12',
      data: {
        price: 1000
      },
      filters: {
        number_format: function(val){
          return val.toLocaleString();
        }
      }
    });
    // フィルターをローカルスコープに登録する。(フィルタを適用する)

    // 複数のフィルタを繋げる(フィルタを組み合わせて使用する)
    var app13 = new Vue ({
      el: '#app13',
      data: {
        price: 1000
      },
      filters: {
            //  金額を3桁カンマ編集するフィルター
        number_format: function(val){
          return val.toLocaleString();
        },
           //  金額を3桁カンマ編集するフィルター
        unit: function(val){
          return val + '円';
        }
      }
    });
    // 複数のフィルタを繋げる(フィルタを組み合わせて使用する)

    // 今年がうるう年かを判定するプロパティ
    var app14 = new Vue ({
      el: '#app14',
      data: {
        year: (new Date()).getFullYear()
      },
      computed: {
        //  今年がうるう年かを判定する算出プロパティ
        isUrudoshi: function() {
          // 「4で割り切れて100で割り切れない」または「400で割り切れる」場合
          if ((this.year%4 == 0) && (this.year%100 != 0) ||
              (this.year%400 == 0)) {
            // うるう年
            return true;
              } else {
                // うるう年ではない
                return false;
              }
            }
          }
      });
    // 今年がうるう年かを判定するプロパティ

    // リアクティブデータと依存関係のない算出プロパティ(算出プロパティがキャッシュされる様子の確認)
    var app15 = new Vue ({
      el: '#app15',
      data: {
        show: true
      },
      methods: {
        // 現在日時を返すメソッド
        now1: function() {
          return(new Date()).toLocaleString();
        }
      },
      computed: {
        // 現在日時を返す算出プロパティ
        now2: function(){
          return (new Date()).toLocaleString();
        }
      }
    });
    // ※メソッドは再描画のたびに実行されるが、算出プロパティはキャッシュ(記憶)される
    // リアクティブデータと依存関係のない算出プロパティ(算出プロパティがキャッシュされる様子の確認)
    
    // イベントハンドリング (クリックイベントの使用例)
    var app16 = new Vue({
      el: '#app16',
      data: {
        stock: 10
      },
      methods: {
        // 削除ボタンのクリックイベントハンドラ
        onDeleteItem: function() {
          this.stock--;
        }
      }
    });
    // イベントハンドリング (クリックイベントの使用例)

    // Vue未使用バージョン イベントハンドリング(クリックイベントの使用例)
      // ↓頻繁にアクセスする要素を事前に取得する
    var app = document.querySelector('#app17');
    var btn = app.querySelector('.btn');
    var num = app.querySelector('.num');
      // ↓在庫数の初期化
    var stock = 10;
      // ↓ボタンにイベントハンドラを割り当てる
    btn.addEventListener('click', onDeleteItem);
      // ↓削除ボタンのクリックイベントハンドラ
    function onDeleteItem() {
      stock--;  // 在庫数を減らす
      updateStock();  // 表示を更新する
    }
      // ↓在庫数の表示を更新するメソッド
      function updateStock() {
        if(stock >= 1) {
          num.textContent = '残り' + stock + '個';
        } else {
          app.removeChild(btn);   // ボタンを削除する
          num.textContent = '在庫切れ';
        }
      }
        // ↓在庫数の初期値を表示する
      updateStock();
    // Vue未使用バージョン イベントハンドリング(クリックイベントの使用例)

    // resizeイベントのハンドリング
    var app = new Vue ({
      el: '#app18',
      data: {
        // ウィンドウサイズ
        width: window.innerWidth,
        height: window.innerHeight
      },
      created: function() {
        // ↓イベントハンドラを登録
        addEventListener('resize', this.resizeHandler);
      },
      beforeDestroy: function() {
        // ↓イベントハンドラを解除
        removeEventListener('resize', this.resizeHandler);
      },
      methods: {
        // ↓イベントハンドラ
        resizeHandler: function($event) {
          // ↓現在のウィンドウサイズでプロパティを更新
          this.width = $event.target.innerWidth;
          this.height = $event.target.innerHeight;
        }
      }
    });
    // resizeイベントのハンドリング

    </script>
  </body>
