<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="item in list">{{item.name}} {{item.price}}円</li>
      </ul>
    </div>

    <div id="app2">{{message}}</div>

    <div id="app3">{{lang == 'ja' ? message_ja : message_en}}</div>

    <!-- 属性にバインド -->
    <div id="app4">
      <input type="text" v-bind: value="message" />
    </div>
    <!-- 属性にバインド -->

    <!-- style属性にバインドする(文字サイズをバインドする例) -->
    <div id="app5">
      <p v-bind:style="{fontSize: pSize}">文字サイズは{{pSize}}です。</p>
    </div>
    <!-- style属性にバインドする(文字サイズをバインドする例) -->

    <!-- class属性にバインドする -->
    <div id="app6">
      <p v-bind:class="{capitalize: isCapital}">hello vue!</p>
    </div>
    <!-- class属性にバインドする -->

    <!-- リストデータをバインドする -->
    <div id="app7">
      <table border="1">
        <tr>
          <th>商品コード</th>
          <th>商品名</th>
        </tr>
        <tr v-for="item in products" v-bind:key="item.code">
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
        </tr>
      </table>
    </div>
    <!-- リストデータをバインドする -->

    <!-- v-ifの使用例 1000円以下の場合「セール実施中」と出力 -->
    <div id="app8">
      {{price}}円 <span v-if="price < 1000">セール実施中</span>
    </div>
    <!-- v-ifの使用例 -->

    <!-- v-if, v-else使用例 -->
    <div id="app9">
      <span v-if="stock >= 1">残り{{stock}}個です。</span>
      <span v-else>在庫切れです。</span>
    </div>
    <!-- v-if, v-else使用例 -->    

    <script src="https://jp.vuejs.org/js/vue.js"></script>
    <script src="main.js">

      var app = new Vue({
        el: "#app",
        data: {
          list: [
            { name: "商品A", price: 1000 },
            { name: "商品B", price: 2000 },
            { name: "商品C", price: 980 },
          ],
        },
      });
      app.price = 1000; //データを更新する((※)
      app.stock = 10;

      // 教本45ページ 2-3
      var ball = {
        pos: {
          x: 10,
          y: 50,
        },
        move: function (x, y) {
          this.pos.x += x;
          this.pos.y += y;
        },
      };
      // 座標をブラウザのコンソールに出力する
      console.log(ball.pos.x); // => 10が出力される
      console.log(ball.pos.y); // => 50が出力される

      // ボールをx方向に5,y方向に3動かす
      ball.move(5, 3);
      // 座標をブラウザのコンソールに出力する
      console.log(ball.pos.x); // => 15が出力される
      console.log(ball.pos.y); // => 53が出力される
      // 教本45ページ 2-3

      // 教本47ページ 2-3(ランダムな黒丸を生成する)
      // Movableクラスからインスタンスを生成する
      var Movable = function (x, y) {
        this.pos = {
          x: x,
          y: y,
        };
        this.move = function (x, y) {
          this.pos.x += x;
          this.pos.y += y;
        };
      };
      // ボールオブジェクトを格納する空の配列を用意する
      var ball = [];
      // 100個分の繰り返し
      for (var i = 0; i <= 100; i++) {
        // ボールオブジェクトのインスタンスを生成する
        ball[i] = new Movable(
          Math.floor(Math.random() * window.innerWidth),
          Math.floor(Math.random() * window.innerHeight)
        );
      }
      // ボールをブラウザに描画する
      for (var i = 0; i <= 100; i++) {
        document.write(
          '<div class="ball" style="top:' +
            ball[i].pos.y +
            "px;left:" +
            ball[i].pos.x +
            'px;">●</div>'
        );
      }
      // 教本47ページ 2-3

      // 教本47ページ 2-4 レンダリング
      var app = new Vue({
        el: "#app2",
        data: {
          message: "こんにちは!",
        },
      });

      var app = new Vue({
        el: "#app3",
        data: {
          message_en: "Hello!",
          message_ja: "こんにちは!",
          lang: "ja",
        },
      });
      // 教本47ページ 2-4 レンダリング

      // 属性にバインド
      var app = new Vue({
        el: '#app4',
        data: {
          message: 'こんにちは!'
        }
      });
      // 属性にバインド

      // style属性にバインドする(文字サイズをバインドする例)
      var app5 = new Vue ({
        el: '#app5',
        data: {
          pSize: '40px'
        }
      });
      // style属性にバインドする(文字サイズをバインドする例)

      // class属性にバインドする
      var app6 = new Vue ({
        el: '#app6',
        data: {
          isCapital: true
        }
      });
      // class属性にバインドする

      // リストデータをバインドする
      var app7 = new Vue ({
        el: '#app7',
        data: {
          products: [
            {code: 'A01', name: 'プロダクトA'},
            {code: 'B01', name: 'プロダクトB'},
            {code: 'C01', name: 'プロダクトC'}
          ]
        }
      });
      // リストデータをバインドする

       // v-ifの使用例
      var app8 = new Vue ({
        el: '#app8',
        data: {
          price: 980
        }
      });
      // v-ifの使用例

      // v-if v-elseの使用例
     var app9 = new Vue ({
        el: '#app9',
        data: {
          stock: 10
        }
      });
      // v-if v-elseの使用例


    </script>

    <style>
      .ball {
        position: absolute;
      }

      .capitalize {
        text-transform: capitalize;
      }
    </style>
  </body>
</html>
