<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル</title>
  </head>
  <body>
    
    <!-- 単純なフォーム入力バインディング -->
    <div id="app22">
      <input type="text" v-model="year">
      <p>{{year}}</p>
    </div>
    <!-- 単純なフォーム入力バインディング -->

    <!-- 入力文字をDOMへリアルタイムに反映する -->
    <div id="app23">
      <input type="text" v-on:input="yearInputHandler" v-bind:value="year">
      <p>{{year}}</p>
    </div>
    <!-- 入力文字をDOMへリアルタイムに反映する -->

    <!-- 一方通行のバインディング(改行できる入力欄) -->
      <!-- →Vueでは、<textarea>...</textarea>で囲まれたテキストは
           双方向のバインドにならないように注意 -->
    <div id="app24">
      <textarea>{{message}}</textarea>
      <pre>入力内容</pre>
    </div>
    <!-- 一方通行のバインディング (改行できる入力欄) -->

    <!-- チェックボックスに文字列をバインドする -->
    <div id="app25">
      <label>ケーキはお好きですか？:{{answer}}</p>
      <input id="cake" type="checkbox" v-model="answer"
             true-value="はい" false-value="いいえ">
      <label for="cake">チェックしてください</label>
    </div>
    <!-- チェックボックスに文字列をバインドする -->

    <!-- グループ化したチェックボックスにバインドする(3つの選択肢をグループ化した例) -->
    <div id="app26">
      <p>ご注文をお選びください:{{selection}}</p>
      <label>
        <input type="checkbox" v-model="answer" value="ケーキ">ケーキ
      </label>
      <label>
        <input type="checkbox" v-model="answer" value="紅茶">紅茶
      </label>
      <label>
        <input type="checkbox" v-model="answer" value="コーヒー">コーヒー
      </label>
    </div>
    <!-- グループ化したチェックボックスにバインドする(3つの選択肢をグループ化した例) -->

    <!-- ラジオボタンにバインドする -->
    <div id="app27">
      <p>当店のサービスはいかがでしたか？:{{answer}}</p>
      <label>
        <input type="radio" v-model="answer" value="素晴らしい">素晴らしい
      </label>
      <label>
        <input type="radio" v-model="answer" value="普通">普通
      </label>
      <label>
        <input type="radio" v-model="answer" value="まだまだ">まだまだ
      </label>
    </div>
    <!-- ラジオボタンにバインドする -->

    <!-- 単一セレクトボックスにバインドする -->
    <div id="app28">
      <p>当店のご利用頻度は？:{{answer}}</p>
      <select v-model="answer">
        <option value="">選択してください</option>
        <option value="初めて">初めて</option>
        <option value="週1回以上">週一回以上</option>
        <option value="月2回以上">月2回以上</option>
        <option value="半年に1回">半年に1回</option>
      </select>
    </div>
    <!-- 単一セレクトボックスにバインドする -->


    <script src="https://jp.vuejs.org/js/vue.js"></script>
    <script>

      // 単純なフォーム入力バインディング
      var app22 = new Vue ({
        el: '#app22',
        data: {
          // 初期値は当年
          year: (new Date()).getFullYear()
        }
      });
      // 単純なフォーム入力バインディング

      // 入力文字をDOMへリアルタイムに反映する
      var app23 = new Vue ({
        el: '#app23',
        data: {
          // 初期値は当年
          year: (new Date()).getFullYear()
        },
        methods: {
          // 「年」のinputイベントハンドラ
          yearInputHandler: function($event){
            // 直接データを更新する
            this.year = $event.target.value;
          }
        }
      });
      // 入力文字をDOMへリアルタイムに反映する

      // 一方通行のバインディング(改行できる入力欄)
      var app24 = new Vue ({
        el: '#app24',
        data: {
          message: 'これは一方通行のバインドです。'
        }
      });
      // 一方通行のバインディング(改行できる入力欄)

      // チェックボックスに文字列をバインドする
      var app25 = new Vue ({
        el: '#app25',
        data: {
          answer: 'はい'
        }
      })
      // チェックボックスに文字列をバインドする

    // グループ化したチェックボックスにバインドする(3つの選択肢をグループ化した例)
    var app26 = new Vue ({
      el: '#app26',
      data: {
        answer: []
      },
      computed: {
        // チェック内容を連結した文字列を返す算出プロパティ
        selection: function() {
          return this.answer.join();
        }
      }
    });
    // グループ化したチェックボックスにバインドする(3つの選択肢をグループ化した例)

    // ラジオボタンにバインドする
    var app27 = new Vue ({
      el: '#app27',
      data: {
        answer: '選択してください'
      }
    });
    // ラジオボタンにバインドする

    // 単一セレクトボックスにバインドする
    var app28 = new Vue ({
      el: '#app28',
      data: {
        answer: ''
      }
    });
    // 単一セレクトボックスにバインドする
     

    </script>
  </body>
</html>
