<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>サンプル</title>
  </head>
  <body>
    
    <!-- 単純なフォーム入力バインディング -->
    <div id="app22">
      <input type="text" v-model="year">
      <p>{{year}}</p>
    </div>
    <!-- 単純なフォーム入力バインディング -->

    <!-- 入力文字をDOMへリアルタイムに反映する -->
    <div id="app23">
      <input type="text" v-on:input="yearInputHandler" v-bind:value="year">
      <p>{{year}}</p>
    </div>
    <!-- 入力文字をDOMへリアルタイムに反映する -->

    <!-- 一方通行のバインディング(改行できる入力欄) -->
      <!-- →Vueでは、<textarea>...</textarea>で囲まれたテキストは
           双方向のバインドにならないように注意 -->
    <div id="app24">
      <textarea>{{message}}</textarea>
      <pre>入力内容</pre>
    </div>
    <!-- 一方通行のバインディング (改行できる入力欄) -->

    <!-- チェックボックスに文字列をバインドする -->
    <div id="app25">
      <label>ケーキはお好きですか？:{{answer}}</p>
      <input id="cake" type="checkbox" v-model="answer"
             true-value="はい" false-value="いいえ">
      <label for="cake">チェックしてください</label>
    </div>
    <!-- チェックボックスに文字列をバインドする -->

    <!-- グループ化したチェックボックスにバインドする(3つの選択肢をグループ化した例) -->
    <div id="app26">
      <p>ご注文をお選びください:{{selection}}</p>
      <label>
        <input type="checkbox" v-model="answer" value="ケーキ">ケーキ
      </label>
      <label>
        <input type="checkbox" v-model="answer" value="紅茶">紅茶
      </label>
      <label>
        <input type="checkbox" v-model="answer" value="コーヒー">コーヒー
      </label>
    </div>
    <!-- グループ化したチェックボックスにバインドする(3つの選択肢をグループ化した例) -->

    <!-- ラジオボタンにバインドする -->
    <div id="app27">
      <p>当店のサービスはいかがでしたか？:{{answer}}</p>
      <label>
        <input type="radio" v-model="answer" value="素晴らしい">素晴らしい
      </label>
      <label>
        <input type="radio" v-model="answer" value="普通">普通
      </label>
      <label>
        <input type="radio" v-model="answer" value="まだまだ">まだまだ
      </label>
    </div>
    <!-- ラジオボタンにバインドする -->

    <!-- 単一セレクトボックスにバインドする -->
    <div id="app28">
      <p>当店のご利用頻度は？:{{answer}}</p>
      <select v-model="answer">
        <option value="">選択してください</option>
        <option value="初めて">初めて</option>
        <option value="週1回以上">週一回以上</option>
        <option value="月2回以上">月2回以上</option>
        <option value="半年に1回">半年に1回</option>
      </select>
    </div>
    <!-- 単一セレクトボックスにバインドする -->

    <!-- 複数セレクトボックスにバインドする -->
    <div id="app29">
      <p>分類:{{selectedCategory}}</p>
      <select v-model="category" multiple>
        <option value="宿泊費">宿泊費</option>
        <option value="食費">食費</option>
        <option value="交通費">交通費</option>
      </select>
    </div>
    <!-- 複数セレクトボックスにバインドする -->

    <!-- セレクトボックスの選択肢にバインドする(動的に生成する方法) -->
    <div id="app30">
      <p>当店のご利用頻度は？:{{answer}}</p>
      <select v-model="answer">
        <option disabled value="">選択してください</option>
        <option v-for="item in options"
                v-bind:value="item.label" v-bind:key="item.code">
          {{item.label}}
        </option>
      </select>
    </div>
    <!-- セレクトボックスの選択肢にバインドする(動的に生成する方法) -->

    <!-- カレンダーにバインドする(日付の選択) -->
    <div id="app31">
      <p>ご希望到着日:{{arrival_date}}</p>
      <input type="date" v-model="arrival_date">
    </div>
    <!-- カレンダーにバインドする(日付の選択) -->

    <!-- 日付の選択範囲、翌日以降でしか選択できないようにする(応用例1) -->
    <div id="app32">
      <p>ご希望到着日:{{arrival_date}}</p>
      <input type="date" v-model="arrival_date" v-bind:min="min_date">
    </div>
    <!-- 日付の選択範囲、翌日以降でしか選択できないようにする(応用例1) -->

    <!-- レンジ入力とカラー選択を同期する (ウォッチャの利用) (応用例2) -->
    <div id="app33">
      <fieldset>
        <legend>あなたの好きな色は？</legend>
        <input type="color" v-model="color"> {{color}} <br>
        赤:<input type="range" v-model.number="red" min="0" max="255">
      {{red}} <br>
        緑:<input type="range" v-model.number="green" min="0" max="255">
      {{green}} <br>
        青:<input type="range" v-model.number="blue" min="0" max="255">
      {{blue}} <br>
      </fieldset>
    </div>
    <!-- レンジ入力とカラー選択を同期する (ウォッチャの利用) (応用例2) -->


  <script src="https://jp.vuejs.org/js/vue.js"></script>
  <script>

    // 単純なフォーム入力バインディング
    var app22 = new Vue ({
      el: '#app22',
      data: {
        // 初期値は当年
        year: (new Date()).getFullYear()
      }
    });
    // 単純なフォーム入力バインディング

    // 入力文字をDOMへリアルタイムに反映する
    var app23 = new Vue ({
      el: '#app23',
      data: {
        // 初期値は当年
        year: (new Date()).getFullYear()
      },
      methods: {
        // 「年」のinputイベントハンドラ
        yearInputHandler: function($event){
          // 直接データを更新する
          this.year = $event.target.value;
        }
      }
    });
    // 入力文字をDOMへリアルタイムに反映する

    // 一方通行のバインディング(改行できる入力欄)
    var app24 = new Vue ({
      el: '#app24',
      data: {
        message: 'これは一方通行のバインドです。'
      }
    });
    // 一方通行のバインディング(改行できる入力欄)

    // チェックボックスに文字列をバインドする
    var app25 = new Vue ({
      el: '#app25',
      data: {
        answer: 'はい'
      }
    })
    // チェックボックスに文字列をバインドする

  // グループ化したチェックボックスにバインドする(3つの選択肢をグループ化した例)
  var app26 = new Vue ({
    el: '#app26',
    data: {
      answer: []
    },
    computed: {
      // チェック内容を連結した文字列を返す算出プロパティ
      selection: function() {
        return this.answer.join();
      }
    }
  });
  // グループ化したチェックボックスにバインドする(3つの選択肢をグループ化した例)

  // ラジオボタンにバインドする
  var app27 = new Vue ({
    el: '#app27',
    data: {
      answer: '選択してください'
    }
  });
  // ラジオボタンにバインドする

  // 単一セレクトボックスにバインドする
  var app28 = new Vue ({
    el: '#app28',
    data: {
      answer: ''
    }
  });
  // 単一セレクトボックスにバインドする

  // 複数セレクトボックスにバインドする
  var app29 = new Vue ({
    el: '#app29',
    data: {
      category: []
    },
    computed: {
      // 選択された分類を返す算出プロパティ
      selectedCategory: function() {
        // 1件以上選択されている場合、選択された値を連結した文字列を返す
        return this.category.length >=1 ? this.category.join():'';
      }
    }
  });
  // 複数セレクトボックスにバインドする

  // セレクトボックスの選択肢にバインドする(動的に生成する方法)
  var app30 = new Vue ({
    el: '#app30',
    data: {
      // 回答内容(選択された値)
      answer: '',
      // 選択肢に表示する配列データ
      options: [
        {code: 'ans1', label: '初めて'},
        {code: 'ans2', label: '週1回以上'},
        {code: 'ans3', label: '月2回以上'},
        {code: 'ans4', label: '半年に1回'}
      ]
    }
  });
  // セレクトボックスの選択肢にバインドする(動的に生成する方法)

  // カレンダーにバインドする(日付の選択)
  var app31 = new Vue ({
    el: '#app31',
    data: {
      arrival_date: null
    },
    created: function() {
      // 初期値を設定する
      this.arrival_date = this.formatDate(new Date());
    },
    methods: {
      // 日付を YYYY-MM-DDに整形するメソッド
      formatDate: function(dt) {
        var y = dt.getFullYear();
        var m = ('00' + (dt.getMonth()+1)).slice(-2);
        var d = ('00' + dt.getDate()).slice(-2);
        var result = y + '-' + m + '-' + d;
        return result;
      }
    }
  });
  // カレンダーにバインドする(日付の選択)

  // 日付の選択範囲、翌日以降でしか選択できないようにする(応用例1)
  var app32 = new Vue({
    el: '#app32',
    date: {
      arrival_date: null,
      min_date: null
    },
    created: function() {
      // 翌日の日付を初期値とする
      var dt = new Date();
      dt.setDate(dt.getDate() + 1);
      this.arrival_date = this.formatDate(dt);
      // 翌日の日付を最小値とする
      this.min_date = this.arrival_date;
    },
    methods: {
      // 日付を YYYY-MM-DD に整形するメソッド
      formatDate: function(dt) {
        var y = dt.getFullYear();
        var m = ('00' + (dt.getMonth()+1)).slice(-2);
        var d = ('00' +  dt.getDate()).slice(-2);
        var result = y + '-' + m + '-' + d;
        return result;
      }
    }
  });
  // 日付の選択範囲、翌日以降でしか選択できないようにする(応用例1)

  // レンジ入力とカラー選択を同期する (ウォッチャの利用) (応用例2)
  var app33 = new Vue ({
    el: '#app33',
    data: {
      color: '#0000000',
      red: 0,
      blue: 0,
      green: 0
    },
    computed: {
      // 赤・緑・青を配列で返す算出プロパティ
      colorElement: function() {
        return [this.red, this.green, this.blue];
      }
    },
    watch: {
      // 赤・緑・青のいずれかの変更を監視する
      colorElement: function(newRGB, oldRGB) {
        // 赤・緑・青を2桁の16進数表記に変換数r
        var r = ('00' + newRGB[0].toString(16).toUpperCase()).slice(-2);
        var g = ('00' + newRGB[1].toString(16).toUpperCase()).slice(-2);
        var b = ('00' + newRGB[2].toString(16).toUpperCase()).slice(-2);
        // #RRGGBB 形式の文字列で更新する
        this.color = '#' + r + g + b;
      },
      // カラーパレットの選択肢を監視する
      color: function(newColor, oldColor) {
        this.red = parseInt(newColor.substr(1,2),16);
        this.green = parseInt(newColor.substr(2,3),16);
        this.blue = parseInt(newColor.substr(5,2),16);

      }
    }
  });
  // レンジ入力とカラー選択を同期する (ウォッチャの利用) (応用例2)

    </script>
  </body>
</html>
